* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    background: #111;
}
header {
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
nav {
    display: flex;
    padding: 1.5vh;
}
.nav-text {
    font-family: 'Comfortaa', cursive;
    font-size: 23px;
    font-weight: 600;
    flex: 1;
    align-self: center;
    margin-left: 2%;
}
.nav-links {
    flex: 3;
    display: flex;
    justify-content: space-around;
}
.nav-links li {
    display: inline;
}
.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    transition: 0.25s;
}
.nav-links li a:hover {
    color: lightblue;
}
.background {
    text-align: center;
    background: url(img/background.gif);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    border-radius: 20px;
}
.profile-image {
    width: 200px;
    border: solid #fff 3px;
    border-radius: 50%;
    transition: 0.4s;
    margin: 5% 0% 2% 0%;
}
.profile-image:hover {
    transform: scale(1.05) rotate(8deg);
}
.main-text {
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 1));
    border-radius: 0px 0px 20px 20px;
    /*How to apply gradient - solution from w3cchools.com documentation:
        "Example: background-image: linear-gradient(red, yellow, green);"
    https://www.w3schools.com/css/css3_gradients.asp*/
}
.title-text {
    font-size: 48px;
    padding-top: 2%;
    margin-bottom: 0;
}
.intro-text {
    font-size: 26px;
    color: #999;
    margin-top: 1%;
    padding-bottom: 3%;
}

/*-----------------------------------*/
/*The Main Content (within a flexbox)*/
.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.box-title {
    padding-bottom: 1vh;
    font-size: 26px;
}
.icon-list {
    list-style: none;
    display: flex;
    justify-content: center;
}
.exp-icon {
    width: 70px;
    height: auto;
    padding: 5px;
}
.box {
    text-align: center;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.7);
    border-radius: 20px;
    margin-top: 2vh;
    padding: 2vh;
    min-width: 0;
    /*How to fix that a box with images doesn't shrink & images don't resize - solution by Michael Benjamin:
        box { min-width = 0; }
        img { width = 100%; height = auto; }
    https://stackoverflow.com/questions/41774646/image-is-not-resizing-in-a-flexbox-layout
    */
}
.box p,
.box ul li {
    font-size: 20px;
    color: #999;
    list-style: none;
}
.box1 {
    flex: 3 1 0;
}
.box2 {
    flex: 4 1 0;
    margin-right: 2vh;
    margin-left: 2vh;
}
.box3 {
    flex: 3 1 0;
}
.box3 a,
.box6 a,
.box8 a {
    text-decoration: none;
    color: green;
}
.box4,
.box8 {
    flex: 1 1 100%;
}
.box5,
.box6,
.box7,
.vscode-box1,
.vscode-box2,
.vscode-box3 {
    flex: 1 1 0;
}
.box6,
.vscode-box2 {
    margin-right: 2vh;
    margin-left: 2vh;
}
.vscode-logo { /*Image in the vscode-box2 (vscode.html)*/
    height: 200px;
    padding-top: 4vh;
}
.color-theme { /*Image in the vscode-box3 (vscode.html)*/
    width: 60%; 
    height: auto;
    border: solid white 3px;
    border-radius: 20px;
    margin: 2vh 1vh 1vh 1vh;
}
.about-box1 {
    flex: 4 1 0;
    margin-right: 2vh;
}
.about-box2 {
    flex: 3 1 0;
}
.project-links { 
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.project-img { /*4 images in the box4 (index.html)*/
    width: 95%; 
    height: auto;
    border: solid white 3px;
    border-radius: 20px;
    margin: 2vh 1vh 1vh 1vh;
    transition: 0.4s;
    filter: brightness(100%);
    /*How to darken images - solution from geeksforgeeks.org:
        "Syntax: filter: brightness(50%);"
    https://www.geeksforgeeks.org/how-to-darken-an-image-using-css/#:~:text=The%20brightness()%20function%20can,the%20image%20by%20that%20percentage.*/
}
.project-img:hover {
    border: solid green 3px;
    cursor: pointer;
    filter: brightness(85%);
}
/*End of the Main Content (within a flexbox)*/
/*------------------------------------------*/

footer {
    width: 80%;
    margin: 1vh auto;
    text-align: center;
}
.github-icon {
    width: 40px;
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: brightness(70%);
    transition: 0.2s;
}
.github-icon:hover {
    filter: brightness(100%);
}